:root {
    --bs-body-bg: #1C1B17;
    --bs-body-font-family: 'Poppins', arial, sans-serif;
    --bs-body-color: #FFF;

}
h1,h2,h3 {
    font-weight: 700;
}
.navbar {
    --bs-navbar-brand-color: #E9C46A;
    --bs-navbar-color: #CED4DA;
    --bs-navbar-hover-color: #E9C46A;
    --bs-navbar-active-color: #E9C46A;
}
.navbar-brand {
    font-weight: 700;
}
.navbar-nav {
    --bs-nav-link-font-weight: 500;
}
.navbar-collapse {
    justify-content: flex-end;
}
#header-home {
    background-image: url('/assets/img/banierre-devaron-v2.webp');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 500px;
}
.btn-primary {
    --bs-btn-color: #212529;
    --bs-btn-bg: #E9C46A;
    --bs-btn-border-color: #E9C46A;
}
.card {
    --bs-card-border-color: #54595E;
    --bs-card-bg: #2A2822;
}
.info-box {
    margin-top: 4rem;
    margin-bottom: 7rem;
}
.border-secondary-subtle {
    --bs-secondary-border-subtle: #989281
}
.footer-text {
    color: #989281;
}