:root {
    --bs-body-bg: #1C1B17;
    --bs-body-font-family: 'Poppins', arial, sans-serif;
    --bs-body-color: #FFF;
    --bs-primary: #E9C46A;
    --bs-link-hover-color: #E9C46A;
}
h1,h2,h3 {
    font-weight: 700;
}
.navbar {
    --bs-navbar-brand-color: var(--bs-primary);
    --bs-navbar-color: #CED4DA;
    --bs-navbar-hover-color: var(--bs-primary);
    --bs-navbar-active-color: var(--bs-primary);
    --bs-navbar-focus-color: var(--bs-primary);
    --bs-navbar-brand-hover-color: var(--bs-primary);
    --bs-navbar-brand-active-color: var(--bs-primary);
    --bs-navbar-brand-focus-color: var(--bs-primary);
}
.navbar-brand {
    font-weight: 700;
}
.navbar-nav {
    --bs-nav-link-font-weight: 500;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
#header-home {
    background-image: url('/assets/img/banierre-devaron-v2.webp');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 500px;
}
#header-home>h2 {
    color: var(--bs-primary);
}
#header-join {
    background-image: url('/assets/img/banierre-devaron-v2.webp');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 250px;
}
.btn-primary {
    --bs-btn-color: #212529;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-hover-bg: #AB3428;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-border-color: #AB3428;
}
.card {
    --bs-card-border-color: #54595E;
    --bs-card-bg: #2A2822;
}
.info-box {
    margin-top: 4rem;
}
.border-secondary-subtle {
    --bs-secondary-border-subtle: #989281
}
.footer-page {
    margin-top: 7rem;
}
.footer-text {
    color: #989281;
}
/*Dynmap*/
.dynmap-player {
    width: 100%;
    height: 100%;
}
#dynmap-btn {
    position: absolute;
    bottom: 24px;
    right: 24px;
}